footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: solid #404A9A;
    z-index: 10000;
    background-color: white;

    img{
        margin-left: 160px;
        width: 80px;
    }

    p{
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        font-size: 10px;
        font-family: clash-reg;
    }

    .info{
        display: flex;
        margin-right: 160px;

        ul{
            display: flex;
            flex-direction: column;
            margin-left: 115px;

            li{
                font-family: clash-reg;
                font-size: 15px;
                list-style: none;
                color: #404A9A;
                font-weight: 400;
            }

            li:nth-child(1){
                font-family: clash-semibold;
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width:768px){
    footer{
        flex-direction: column;
        img{
            margin-left: 0;
            margin-bottom: 30px;
        }
        .info{
            margin-right: 0;
            ul{
                margin: 0;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    footer{
        flex-direction: column;
        .info{
            margin-right: 0;
            ul{
                margin: 0;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }
        }
    }
}