@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: clash-bold;
  src: url(../fonts/ClashDisplay-Bold.ttf);
}
@font-face {
  font-family: clash-semibold;
  src: url(../fonts/ClashDisplay-Semibold.ttf);
}
@font-face {
  font-family: clash-reg;
  src: url(../fonts/ClashDisplay-Regular.otf);
}
header.twitch-scroll {
  background-color: #ffffff;
}
header.twitch-scroll ul li {
  color: #404A9A;
}
header.twitch-scroll ul a {
  color: #404A9A;
}

header {
  background-color: #404A9A;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  z-index: 1000000;
  transition: all 0.3s ease;
  transform: translateZ(70px);
}
header img {
  margin-left: 160px;
  width: 60px;
}
header ul {
  display: flex;
  list-style: none;
  margin-right: 160px;
  transition: all 0.5s ease;
}
header ul.active {
  transform: translate(0);
}
header ul li {
  padding-left: 40px;
  color: #ffffff;
  font-family: clash-semibold;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
header ul a {
  text-decoration: none;
  padding-left: 40px;
  color: #ffffff;
  font-family: clash-semibold;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
header .burger {
  display: none;
  z-index: 10000;
  width: 40px;
  height: 20px;
  right: 60px;
  position: relative;
}
header .burger span {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

@media screen and (max-width: 1024px) {
  header img {
    margin-left: 60px;
  }
  header ul {
    margin-right: 60px;
  }
}
@media screen and (max-width: 768px) {
  header header.twitch-scroll {
    background-color: #404A9A;
  }
  header header.twitch-scroll ul li {
    color: white;
  }
  header header.twitch-scroll ul a {
    color: white;
  }
  header header.twitch-scroll {
    background-color: #404A9A;
  }
  header header.twitch-scroll ul li {
    color: white;
  }
  header header.twitch-scroll ul a {
    color: white;
  }
  header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #404A9A;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-100%);
  }
  header ul li {
    padding-left: 0;
    padding: 20px;
  }
  header ul a {
    padding-left: 0;
    padding: 20px;
  }
  header .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 425px) {
  header img {
    margin-left: 30px;
    width: 20%;
  }
  header ul {
    margin-right: 30px;
  }
  header .burger {
    right: 30px;
  }
}
footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: solid #404A9A;
  z-index: 10000;
  background-color: white;
}
footer img {
  margin-left: 160px;
  width: 80px;
}
footer p {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 10px;
  font-family: clash-reg;
}
footer .info {
  display: flex;
  margin-right: 160px;
}
footer .info ul {
  display: flex;
  flex-direction: column;
  margin-left: 115px;
}
footer .info ul li {
  font-family: clash-reg;
  font-size: 15px;
  list-style: none;
  color: #404A9A;
  font-weight: 400;
}
footer .info ul li a {
  color: #404A9A;
  text-decoration: none;
}
footer .info ul li:nth-child(1) {
  font-family: clash-semibold;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  footer img {
    margin-left: 60px;
    width: 80px;
  }
  footer p {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 10px;
    font-family: clash-reg;
  }
  footer .info {
    display: flex;
    margin-right: 60px;
  }
  footer .info ul {
    display: flex;
    flex-direction: column;
    margin-left: 115px;
  }
  footer .info ul li {
    font-family: clash-reg;
    font-size: 15px;
    list-style: none;
    color: #404A9A;
    font-weight: 400;
  }
  footer .info ul li a {
    color: #404A9A;
    text-decoration: none;
  }
  footer .info ul li:nth-child(1) {
    font-family: clash-semibold;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  footer img {
    margin-left: 0;
    margin-bottom: 30px;
  }
  footer .info {
    margin-right: 0;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
  }
  footer .info ul {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
  footer img {
    margin-left: 0;
    margin-bottom: 30px;
  }
  footer .info {
    margin-right: 0;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
  }
  footer .info ul {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 375px) {
  footer {
    flex-direction: column;
  }
  footer .info {
    margin-right: 0;
  }
  footer .info ul {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.page-home {
  display: block;
  overflow-x: hidden;
}
.page-home .home {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/Accueil-background.webp);
  background-size: cover;
}
.page-home .home .infos {
  position: absolute;
  top: 50%;
  left: 160px;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
}
.page-home .home .infos h1 {
  font-family: clash-bold;
  font-size: 96px;
  font-weight: 700;
}
.page-home .home .infos h1 br {
  content: "";
  display: block;
  margin-bottom: -40px;
}
.page-home .home .infos h2 {
  font-size: 48px;
  font-family: clash-reg;
  display: flex;
  font-weight: 400;
  align-items: center;
}
.page-home .home .infos h2 span {
  display: block;
  height: 2px;
  width: 174px;
  background-color: white;
}
.page-home .home .infos p {
  font-size: 25px;
  font-family: clash-reg;
  font-weight: 400;
  margin-bottom: 45px;
}
.page-home .home .infos a {
  position: relative;
  font-family: clash-reg;
  text-decoration: none;
  color: #3C4B97;
  font-size: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.page-home .home .infos a:hover {
  left: 5px;
  bottom: 5px;
}
.page-home .home .infos a:hover::before {
  left: -5px;
  bottom: -5px;
}
.page-home .home .infos a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #404A9A;
  z-index: -1;
}
.page-home .sponsor {
  display: flex;
  margin-top: 10px;
  position: relative;
}
.page-home .sponsor .container {
  overflow: hidden;
  display: flex;
  /* Fonctionne avec toutes les tailles */
  width: 100vw;
  position: absolute;
  top: 0;
  /* pour rotate on enlève le translate et on rajoute le rotate */
  /* transform:  rotate(90deg); */
}
.page-home .sponsor .txt {
  white-space: nowrap;
  font-size: 32px;
  animation: scrollTxt 20s linear infinite;
  font-family: clash-semibold;
  text-transform: uppercase;
}
.page-home .sponsor .t1 {
  color: #404A9A;
}
.page-home .sponsor .t2 {
  color: #404A9A;
}
.page-home .sponsor .t3 {
  color: #404A9A;
}
.page-home .sponsor .t4 {
  color: #404A9A;
}
@keyframes scrollTxt {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.page-home .info-event {
  position: relative;
  margin: 150px 300px;
  display: flex;
  justify-content: space-between;
}
.page-home .info-event .text {
  width: 446px;
}
.page-home .info-event .text h2 {
  font-family: clash-bold;
  font-size: 64px;
  color: #404A9A;
}
.page-home .info-event .text h3 {
  display: flex;
  align-items: center;
  font-family: clash-reg;
  font-size: 48px;
  font-weight: 400;
  color: #404A9A;
}
.page-home .info-event .text h3 span {
  display: block;
  height: 2px;
  width: 174px;
  background-color: #404A9A;
}
.page-home .info-event .text p {
  margin-top: 30px;
  font-family: 16px;
  font-family: clash-reg;
  width: 100%;
}
.page-home .info-event .picture {
  width: 448px;
  height: auto;
}
.page-home .info-event .picture img {
  width: 100%;
  height: 100%;
}
.page-home .info-event .star1 {
  position: absolute;
  left: -80px;
  top: -80px;
  width: 100px;
  z-index: -1;
}
.page-home .info-event .star2 {
  position: absolute;
  left: -200px;
  top: 0;
  width: 180px;
  z-index: -1;
}
.page-home .info-event .star3 {
  position: absolute;
  right: -120px;
  bottom: -120px;
  width: 180px;
  z-index: -1;
}
.page-home .twitch {
  background-color: #404A9A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.page-home .twitch img {
  margin-bottom: 75px;
  width: 50%;
}
.page-home .twitch .live {
  position: relative;
  width: 700px;
  height: 400px;
  background-color: beige;
}
.page-home .twitch .live iframe {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: relative;
}
.page-home .twitch .live::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -10px;
  border-left: solid white;
  border-bottom: solid white;
  width: 50%;
  height: 80%;
}
.page-home .team {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-home .team .contain-team {
  margin: 0 auto;
}
.page-home .team .contain-team h2 {
  font-family: clash-bold;
  font-size: 64px;
  color: #404A9A;
}

@media screen and (max-width: 1300px) {
  .page-home .info-event {
    margin: 150px 100px;
  }
}
@media screen and (max-width: 1024px) {
  .page-home .home .infos {
    left: 60px;
  }
  .page-home .home .infos h1 {
    font-size: 80px;
  }
  .page-home .home .infos h1 br {
    content: "";
    display: block;
    margin-bottom: -30px;
  }
  .page-home .home .infos h2 {
    font-size: 32px;
  }
  .page-home .home .infos h2 span {
    width: 220px;
  }
  .page-home .home .infos p {
    font-size: 18px;
  }
  .page-home .home .infos a {
    font-size: 18px;
  }
  .page-home .info-event .text h2 {
    font-size: 42px;
  }
  .page-home .info-event .text h3 {
    font-size: 42px;
  }
  .page-home .info-event .text h3 span {
    width: 70px;
  }
  .page-home .team {
    margin: 0 50px;
  }
  .page-home .team .contain-team h2 {
    font-size: 44px;
  }
  .page-home .team .contain-team img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .page-home .info-event {
    flex-direction: column;
  }
  .page-home .info-event .text {
    width: 100%;
    margin-bottom: 50px;
  }
  .page-home .info-event .picture {
    width: 100%;
    height: 300px;
  }
  .page-home .twitch img {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .page-home .home .infos {
    left: 30px;
  }
  .page-home .home .infos h1 {
    font-size: 40px;
  }
  .page-home .home .infos h1 br {
    content: "";
    display: block;
    margin-bottom: -14px;
  }
  .page-home .home .infos h2 {
    font-size: 20px;
  }
  .page-home .home .infos h2 span {
    width: 70px;
  }
  .page-home .home .infos p {
    font-size: 14px;
  }
  .page-home .home .infos a {
    font-size: 14px;
  }
  .page-home .info-event {
    margin: 100px 30px;
  }
  .page-home .info-event .text h2 {
    font-size: 30px;
  }
  .page-home .info-event .text h3 {
    font-size: 20px;
  }
  .page-home .info-event .text h3 span {
    width: 90px;
  }
  .page-home .twitch img {
    width: 100%;
  }
  .page-home .twitch .live {
    width: 310px;
  }
  .page-home .team {
    margin: 0 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .page-home .team .contain-team h2 {
    font-size: 30px;
  }
  .page-home .team .contain-team img {
    width: 100%;
  }
}
.container-connexion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.container-connexion .back-to-home {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: #404A9A;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-family: clash-reg;
}
.container-connexion .info-connexion {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}
.container-connexion h1 {
  font-size: 32px;
  font-family: clash-bold;
  color: #404A9A;
}
.container-connexion form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.container-connexion form input {
  border: none;
  border-bottom: solid 2px #404A9A;
  background-color: transparent;
  font-family: clash-reg;
  color: #404A9A;
  width: 100%;
}
.container-connexion form input:focus {
  outline: none;
}
.container-connexion form label {
  font-family: clash-reg;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #404A9A;
  margin-right: 10px;
}
.container-connexion form button {
  font-size: 20px;
  font-family: clash-reg;
  border: none;
  color: #404A9A;
  border: solid 2px #404A9A;
  background-color: transparent;
  width: 160px;
  height: 50px;
  transition: all 0.3s ease;
}
.container-connexion form button:hover {
  background-color: #404A9A;
  color: white;
}
.container-connexion p {
  font-family: clash-reg;
  font-size: 16px;
  color: #555555;
}
.container-connexion p a {
  color: #555555;
}

.bg-connexion {
  position: absolute;
  top: calc(50% + 8vh);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
  width: 80%;
  opacity: 0.3;
}

@media screen and (max-width: 425px) {
  .container-connexion .info-connexion {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.container-inscription {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.container-inscription .back-to-home {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: #404A9A;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-family: clash-reg;
}
.container-inscription .info-inscription {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}
.container-inscription h1 {
  font-size: 32px;
  font-family: clash-bold;
  color: #404A9A;
}
.container-inscription form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.container-inscription form .container-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
.container-inscription form .container-input .container-input_label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container-inscription form input {
  border: none;
  border-bottom: solid 2px #404A9A;
  background-color: transparent;
  font-family: clash-reg;
  color: #404A9A;
}
.container-inscription form input:focus {
  outline: none;
}
.container-inscription form label {
  font-family: clash-reg;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #404A9A;
  margin-right: 10px;
}
.container-inscription form button {
  font-size: 20px;
  font-family: clash-reg;
  border: none;
  color: #404A9A;
  border: solid 2px #404A9A;
  background-color: transparent;
  width: 160px;
  height: 50px;
  transition: all 0.3s ease;
}
.container-inscription form button:hover {
  background-color: #404A9A;
  color: white;
}
.container-inscription p {
  font-family: clash-reg;
  font-size: 16px;
  color: #555555;
}
.container-inscription p a {
  color: #555555;
}

.bg-connexion {
  position: absolute;
  top: calc(50% + 8vh);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
  width: 80%;
  opacity: 0.3;
}

@media screen and (max-width: 700px) {
  .container-inscription {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .container-inscription form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .container-inscription form .container-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  }
  .container-inscription form .container-input .container-input_label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .container-inscription form .container-input .container-input_label label {
    font-size: 18px;
  }
}
.page-jeux {
  display: none;
  margin-bottom: 110px;
}
.page-jeux .custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  background-color: #f2f2f2;
  font-family: clash-reg;
}
.page-jeux input[type=file] {
  display: none;
}
.page-jeux .container-jeux-competitif {
  margin-top: calc(8vh + 120px);
  margin-left: 160px;
  margin-right: 160px;
}
.page-jeux .container-jeux-competitif h1 {
  font-family: clash-bold;
  font-size: 40px;
  color: #404A9A;
}
.page-jeux .container-jeux-competitif h2 {
  display: flex;
  align-items: center;
  font-family: clash-reg;
  font-size: 24px;
  color: #404A9A;
}
.page-jeux .container-jeux-competitif h2 span {
  width: 100px;
  background-color: #404A9A;
  height: 2px;
  margin-right: 4px;
}
.page-jeux .container-jeux-competitif .jeux-competitif {
  display: flex;
  gap: 30px;
}
.page-jeux .container-jeux-competitif .jeux-competitif .jeux {
  position: relative;
  margin-top: 50px;
  width: calc(33.3333333333% - 15px);
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-jeux .container-jeux-competitif .jeux-competitif .jeux h3 {
  font-family: clash-bold;
  color: white;
  font-size: 36px;
  margin-bottom: 10px;
}
.page-jeux .container-jeux-competitif .jeux-competitif .jeux p {
  font-size: 16px;
  font-family: clash-reg;
  color: #404A9A;
  background-color: white;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.page-jeux .container-jeux-competitif .jeux-competitif .jeux img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 920px;
  height: 580px;
  background-color: white;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  width: calc(100% - 100px);
  height: calc(100% - 130px);
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 20px);
  height: 100%;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left img {
  width: 100%;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left h3 {
  font-family: clash-bold;
  font-size: 24px;
  color: #404A9A;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left p {
  font-family: clash-reg;
  font-size: 16px;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form {
  width: calc(50% - 20px);
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form input {
  border: none;
  border-bottom: solid #404A9A;
  background-color: transparent;
  font-family: clash-reg;
  font-size: 14px;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form input:focus {
  outline: none;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form h4 {
  font-size: 16px;
  font-family: clash-bold;
  text-transform: uppercase;
  color: #404A9A;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .upper {
  display: flex;
  justify-content: space-between;
  height: 30%;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .upper .upper-left {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .upper .upper-right {
  width: calc(50% - 30px);
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .upper .upper-right .logo {
  position: relative;
  width: 100%;
  height: 130px;
  border: solid #404A9A;
  background-color: #404A9A;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .upper .upper-right .logo #imagevalo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .upper .upper-right .logo #imagerocket {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .upper .upper-right .logo #imageteam {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .lower {
  display: flex;
  justify-content: space-between;
  height: 70%;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .lower .lower-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #404A9A;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-family: clash-bold;
  color: white;
}
.page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.page-jeux .container-jeux-autre {
  margin-top: 120px;
  margin-left: 160px;
  margin-right: 160px;
}
.page-jeux .container-jeux-autre h1 {
  font-family: clash-bold;
  font-size: 40px;
  color: #404A9A;
}
.page-jeux .container-jeux-autre h2 {
  display: flex;
  align-items: center;
  font-family: clash-reg;
  font-size: 24px;
  color: #404A9A;
}
.page-jeux .container-jeux-autre h2 span {
  width: 210px;
  background-color: #404A9A;
  height: 2px;
  margin-right: 4px;
}
.page-jeux .container-jeux-autre .jeux-autre {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.page-jeux .container-jeux-autre .jeux-autre .jeux {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  width: calc(33.3333333333% - 20px);
  height: 200px;
}
.page-jeux .container-jeux-autre .jeux-autre .jeux h3 {
  font-family: clash-bold;
  color: white;
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}
.page-jeux .container-jeux-autre .jeux-autre .jeux img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .page-jeux .container-jeux-competitif {
    margin-left: 60px;
    margin-right: 60px;
  }
  .page-jeux .container-jeux-competitif .jeux-competitif .jeux h3 {
    font-family: clash-bold;
    color: white;
    font-size: 26px;
    margin-bottom: 10px;
  }
  .page-jeux .container-jeux-autre {
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .page-jeux .container-jeux-competitif .jeux-competitif {
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .page-jeux .container-jeux-competitif .jeux-competitif .jeux {
    width: calc(50% - 15px);
    margin-top: 0;
  }
  .page-jeux .container-jeux-competitif .jeux-competitif .jeux h3 {
    font-family: clash-bold;
    color: white;
    font-size: 26px;
    margin-bottom: 10px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 580px;
    background-color: white;
  }
  .page-jeux .container-jeux-autre {
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .page-jeux .container-jeux-autre .jeux-autre {
    margin-top: 50px;
  }
  .page-jeux .container-jeux-autre .jeux-autre .jeux {
    width: calc(50% - 15px);
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .page-jeux .container-jeux-competitif .jeux-competitif .jeux {
    width: 100%;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 80vh;
    background-color: white;
    overflow: scroll;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain {
    flex-direction: column;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain h3, .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain h4 {
    margin-bottom: 10px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left {
    width: 100%;
    margin-bottom: 30px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left img {
    margin-bottom: 10px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left p {
    font-size: 16px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form {
    position: relative;
    width: 100%;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form input {
    margin-bottom: 30px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .button {
    position: absolute;
    bottom: 0;
    right: -50px;
    margin: 0;
  }
  .page-jeux .container-jeux-autre .jeux-autre .jeux {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .page-jeux .container-jeux-competitif h1 {
    font-family: clash-bold;
    font-size: 30px;
    color: #404A9A;
  }
  .page-jeux .container-jeux-competitif h2 {
    display: flex;
    align-items: center;
    font-family: clash-reg;
    font-size: 18px;
    color: #404A9A;
  }
  .page-jeux .container-jeux-competitif h2 span {
    width: 80px;
    background-color: #404A9A;
    height: 2px;
    margin-right: 4px;
  }
  .page-jeux .container-jeux-autre h1 {
    font-family: clash-bold;
    font-size: 30px;
    color: #404A9A;
  }
  .page-jeux .container-jeux-autre h2 {
    display: flex;
    align-items: center;
    font-family: clash-reg;
    font-size: 18px;
    color: #404A9A;
  }
  .page-jeux .container-jeux-autre h2 span {
    width: 140px;
    background-color: #404A9A;
    height: 2px;
    margin-right: 4px;
  }
}
@media screen and (max-width: 550px) {
  .page-jeux .container-jeux-competitif {
    margin-left: 30px;
    margin-right: 30px;
  }
  .page-jeux .container-jeux-competitif h1 {
    font-family: clash-bold;
    font-size: 30px;
    color: #404A9A;
  }
  .page-jeux .container-jeux-competitif h2 {
    display: flex;
    align-items: center;
    font-family: clash-reg;
    font-size: 18px;
    color: #404A9A;
  }
  .page-jeux .container-jeux-competitif h2 span {
    width: 80px;
    background-color: #404A9A;
    height: 2px;
    margin-right: 4px;
  }
  .page-jeux .container-jeux-competitif .jeux-competitif .jeux {
    width: 100%;
    height: 150px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 80vh;
    background-color: white;
    overflow: scroll;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 59px;
    width: calc(100% - 40px);
    height: 100%;
    flex-direction: column;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain h3, .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain h4 {
    margin-bottom: 20px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left {
    width: 100%;
    margin-bottom: 30px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left img {
    margin-bottom: 10px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain .left p {
    font-size: 14px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form input {
    margin-bottom: 30px;
  }
  .page-jeux .container-jeux-competitif .background-pop-up-competitive .pop-up-competitive .contain form .button {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0;
  }
  .page-jeux .container-jeux-autre {
    margin-left: 30px;
    margin-right: 30px;
  }
  .page-jeux .container-jeux-autre h1 {
    font-family: clash-bold;
    font-size: 30px;
    color: #404A9A;
  }
  .page-jeux .container-jeux-autre h2 {
    display: flex;
    align-items: center;
    font-family: clash-reg;
    font-size: 18px;
    color: #404A9A;
  }
  .page-jeux .container-jeux-autre h2 span {
    width: 140px;
    background-color: #404A9A;
    height: 2px;
    margin-right: 4px;
  }
  .page-jeux .container-jeux-autre .jeux-autre .jeux {
    width: 100%;
    height: 150px;
  }
}
.page-teams {
  position: relative;
  display: none;
  margin-bottom: 110px;
  margin-top: calc(8vh + 120px);
  margin-left: 160px;
  margin-right: 160px;
}
.page-teams .myEquipe {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}
.page-teams .myEquipe .head-myEquipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #404A9A;
}
.page-teams .myEquipe .head-myEquipe h3 {
  color: white;
  font-family: clash-semibold;
  font-size: 32px;
  margin-left: 20px;
}
.page-teams .myEquipe .infos-myEquipe {
  display: flex;
  align-items: center;
  height: 80%;
  width: 100%;
}
.page-teams .myEquipe .infos-myEquipe .jeu {
  background-color: #404A9A;
  display: flex;
  flex-direction: column;
  width: 33.3333333333%;
  height: 100%;
  border-right: solid white;
}
.page-teams .myEquipe .infos-myEquipe .jeu .head-jeu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.page-teams .myEquipe .infos-myEquipe .jeu .head-jeu h4 {
  color: white;
  font-size: 32px;
  font-family: clash-semibold;
  z-index: 10;
  position: relative;
}
.page-teams .myEquipe .infos-myEquipe .jeu .head-jeu img {
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
}
.page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu {
  margin: 30px 30px;
  height: 250px;
}
.page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu h5 {
  position: relative;
  color: white;
  font-size: 14px;
  font-family: clash-semibold;
  margin-bottom: 15px;
  display: inline-block;
  text-decoration: underline;
}
.page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu h6 {
  color: white;
  font-size: 32px;
  font-family: clash-semibold;
  text-align: center;
  margin-bottom: 20px;
}
.page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu .container-joueurs {
  display: flex;
  justify-content: space-between;
}
.page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu .container-joueurs ul li {
  color: white;
  font-size: 14px;
  font-family: clash-semibold;
  list-style: none;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.page-teams h1 {
  font-family: clash-bold;
  font-size: 40px;
  color: #404A9A;
}
.page-teams h2 {
  display: flex;
  align-items: center;
  font-family: clash-reg;
  font-size: 24px;
  color: #404A9A;
}
.page-teams h2 span {
  width: 50px;
  background-color: #404A9A;
  height: 2px;
  margin-right: 4px;
}
.page-teams h3 {
  font-size: 32px;
  font-family: clash-semibold;
  color: #404A9A;
  margin-left: 80px;
}
.page-teams .container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  border-top: solid #404A9A;
  row-gap: 30px;
}
.page-teams .carousel {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.page-teams .carousel:hover .spin-container {
  transform: rotateY(180deg);
}
.page-teams .spin-container {
  width: 170px;
  height: 218px;
  position: relative;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #404A9A;
}
.page-teams .spin-container.active {
  transform: rotateY(180deg);
}
.page-teams .front, .page-teams .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.page-teams .front {
  width: 100%;
  height: 100%;
}
.page-teams .front .contain-front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  left: 100%;
  transform-style: preserve-3d;
}
.page-teams .front .contain-front img {
  transform: translateZ(20px);
  width: 70%;
}
.page-teams .front .contain-front h3 {
  color: white;
  margin-left: 0;
  font-size: 15px;
  text-transform: uppercase;
  transform: translateZ(50px);
}
.page-teams .back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  transform-style: preserve-3d;
  border: solid #404A9A;
}
.page-teams .back h3 {
  color: #404A9A;
  margin-left: 0;
  font-size: 25px;
  text-transform: uppercase;
  transform: translateZ(50px);
}
.page-teams .back ul {
  transform: translateZ(50px);
}
.page-teams .back ul li {
  list-style: none;
  color: #404A9A;
  font-size: 15px;
  text-transform: uppercase;
  font-family: clash-semibold;
}
.page-teams .valorant-teams {
  margin-top: 80px;
}
.page-teams .rocket-teams {
  margin-top: 120px;
}
.page-teams .tf2-teams {
  margin-top: 120px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .page-teams {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 768px) {
  .page-teams {
    margin-left: 60px;
    margin-right: 60px;
  }
  .page-teams .myEquipe {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #404A9A;
    margin-bottom: 100px;
  }
  .page-teams .myEquipe .head-myEquipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
  }
  .page-teams .myEquipe .head-myEquipe h3 {
    color: white;
    font-family: clash-semibold;
    font-size: 32px;
    margin-left: 20px;
  }
  .page-teams .myEquipe .infos-myEquipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
  }
  .page-teams .myEquipe .infos-myEquipe .jeu {
    background-color: #404A9A;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-right: solid white;
  }
  .page-teams .myEquipe .infos-myEquipe .jeu .head-jeu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
  }
  .page-teams .myEquipe .infos-myEquipe .jeu .head-jeu h4 {
    color: white;
    font-size: 32px;
    font-family: clash-semibold;
    z-index: 10;
    position: relative;
  }
  .page-teams .myEquipe .infos-myEquipe .jeu .head-jeu img {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
  .page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu {
    margin: 30px 30px;
    height: 150px;
  }
  .page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu h6 {
    font-size: 20px;
    text-align: left;
  }
  .page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu .container-joueurs {
    flex-direction: column;
  }
  .page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu .container-joueurs ul {
    display: flex;
    flex-wrap: wrap;
  }
  .page-teams .myEquipe .infos-myEquipe .jeu .contain-jeu .container-joueurs ul li {
    text-align: center;
    margin-right: 30px;
  }
  .page-teams .spin-container {
    width: 170px;
    height: 218px;
  }
  .page-teams .front .contain-front img {
    width: 80%;
  }
  .page-teams .front .contain-front h3 {
    font-size: 15px;
  }
  .page-teams .front .back h3 {
    color: #404A9A;
    margin-left: 0;
    font-size: 25px;
    text-transform: uppercase;
    transform: translateZ(50px);
  }
  .page-teams .front .back ul {
    transform: translateZ(50px);
  }
  .page-teams .front .back ul li {
    list-style: none;
    color: #404A9A;
    font-size: 15px;
    text-transform: uppercase;
    font-family: clash-semibold;
  }
}
@media screen and (max-width: 425px) {
  .page-teams .front .contain-front h3 {
    font-size: 20px;
  }
  .page-teams {
    margin-left: 30px;
    margin-right: 30px;
  }
  .page-teams .front .contain-front img {
    width: 80%;
  }
  .page-teams h3 {
    margin-left: 0;
  }
  .page-teams .container-card {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 50px;
    border-top: solid #404A9A;
    row-gap: 30px;
  }
  .page-teams .carousel {
    width: 50%;
  }
  .page-teams .spin-container {
    width: 100%;
    height: 250px;
  }
  .page-teams .spin-container .back h3 {
    font-size: 20px;
  }
  .page-teams .spin-container .back ul {
    transform: translateZ(50px);
  }
  .page-teams .spin-container .back ul li {
    font-size: 16px;
  }
}
.page-programme {
  display: none;
  margin-bottom: 110px;
}
.page-programme .container-espaces {
  margin-top: calc(8vh + 120px);
  margin-left: 160px;
  margin-right: 160px;
}
.page-programme .container-espaces h1 {
  font-family: clash-bold;
  font-size: 40px;
  color: #404A9A;
  text-transform: uppercase;
}
.page-programme .container-espaces h2 {
  display: flex;
  align-items: center;
  font-family: clash-reg;
  font-size: 24px;
  color: #404A9A;
  text-transform: uppercase;
  font-weight: 200;
}
.page-programme .container-espaces h2 span {
  width: 135px;
  background-color: #404A9A;
  height: 2px;
  margin-right: 4px;
}
.page-programme .container-espaces .contain-espaces {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.page-programme .container-espaces .contain-espaces .espace {
  display: flex;
  flex-direction: column;
  width: calc(50% - 17px);
  height: 500px;
  border: solid 1px #404A9A;
}
.page-programme .container-espaces .contain-espaces .espace .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  margin: 0 30px;
}
.page-programme .container-espaces .contain-espaces .espace .infos h3 {
  color: #404A9A;
  font-family: clash-semibold;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.page-programme .container-espaces .contain-espaces .espace .infos p {
  color: #404A9A;
  font-family: clash-reg;
}
.page-programme .container-espaces .contain-espaces .espace img {
  height: 70%;
  object-fit: cover;
}
.page-programme .container-programme {
  margin-top: 90px;
  margin-left: 160px;
  margin-right: 160px;
}
.page-programme .container-programme h1 {
  font-family: clash-bold;
  font-size: 40px;
  color: #404A9A;
  text-transform: uppercase;
}
.page-programme .container-programme h2 {
  display: flex;
  align-items: center;
  font-family: clash-reg;
  font-size: 24px;
  color: #404A9A;
  text-transform: uppercase;
  font-weight: 200;
}
.page-programme .container-programme h2 span {
  width: 135px;
  background-color: #404A9A;
  height: 2px;
  margin-right: 4px;
}
.page-programme .container-programme .programme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  border: solid 1px #404A9A;
  margin-top: 60px;
}
.page-programme .container-programme .programme h3 {
  color: #404A9A;
  font-family: clash-bold;
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
  .page-programme {
    display: none;
    margin-bottom: 110px;
  }
  .page-programme .container-espaces {
    margin-top: calc(8vh + 120px);
    margin-left: 60px;
    margin-right: 60px;
  }
  .page-programme .container-espaces .contain-espaces {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .page-programme .container-espaces .contain-espaces .espace {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    border: solid 1px #404A9A;
  }
  .page-programme .container-programme {
    margin-top: 90px;
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 550px) {
  .page-programme .container-espaces {
    margin-top: calc(8vh + 120px);
    margin-left: 30px;
    margin-right: 30px;
  }
  .page-programme .container-espaces h1 {
    font-family: clash-bold;
    font-size: 30px;
    color: #404A9A;
    text-transform: uppercase;
  }
  .page-programme .container-espaces h2 {
    display: flex;
    align-items: center;
    font-family: clash-reg;
    font-size: 18px;
    color: #404A9A;
    text-transform: uppercase;
    font-weight: 200;
  }
  .page-programme .container-espaces h2 span {
    width: 80px;
    background-color: #404A9A;
    height: 2px;
    margin-right: 4px;
  }
  .page-programme .container-espaces .contain-espaces .espace .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    margin: 0 10px;
  }
  .page-programme .container-espaces .contain-espaces .espace .infos h3 {
    color: #404A9A;
    font-family: clash-semibold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .page-programme .container-espaces .contain-espaces .espace .infos p {
    color: #404A9A;
    font-family: clash-reg;
    font-size: 14px;
  }
  .page-programme .container-programme {
    margin-left: 30px;
    margin-right: 30px;
  }
  .page-programme .container-programme h1 {
    font-family: clash-bold;
    font-size: 30px;
    color: #404A9A;
    text-transform: uppercase;
  }
  .page-programme .container-programme h2 {
    display: flex;
    align-items: center;
    font-family: clash-reg;
    font-size: 18px;
    color: #404A9A;
    text-transform: uppercase;
    font-weight: 200;
  }
  .page-programme .container-programme h2 span {
    width: 50px;
    background-color: #404A9A;
    height: 2px;
    margin-right: 4px;
  }
}
.container-mention {
  margin-top: calc(8vh + 120px);
  margin-left: 160px;
  margin-right: 160px;
}
.container-mention ul {
  margin-bottom: 50px;
  font-family: clash-bold;
  color: #404A9A;
}
.container-mention ul li {
  font-family: clash-reg;
  list-style: none;
  margin-bottom: 5px;
}

.back-mention {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: white;
  background-color: #404A9A;
  font-family: clash-semibold;
  padding: 15px;
}

@media screen and (max-width: 1024px) {
  .container-mention {
    margin-top: calc(8vh + 120px);
    margin-left: 60px;
    margin-right: 60px;
  }
}

/*# sourceMappingURL=app.css.map */
