.container-connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 180px ;
    background-color: white;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 150px;

    h1{
        font-size: 32px;
        font-family: clash-bold;
        color: #404A9A;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        input{
            border: none;
            border-bottom: solid 2px #404A9A;
            background-color: transparent;
            font-family: clash-reg;
            color: #404A9A;
        }

        input:focus {
            outline:  none;
       }

        label{
            font-family: clash-reg;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            color: #404A9A;
            margin-right: 10px;
        }

        button{
            font-size: 20px;
            font-family: clash-reg;
            border: none;
            color: #404A9A;
            border: solid 2px #404A9A;
            background-color: transparent;
            width: 160px;
            height: 50px;
            transition: all 0.3s ease;

            &:hover{
                background-color: #404A9A;
                color: white;
            }
        }
    }

    p{
        font-family: clash-reg;
        font-size: 16px;
        color: #555555;

        a{
            color: #555555;
        }
    }
}

.bg-connexion{
    position: absolute;
    top: calc(50% + 8vh);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.5;
    width: 100%;
}