.page-teams{
    display: none;
    margin-bottom: 110px;
    margin-top: calc(8vh + 120px);
    width: 100vw;

    h1{
        font-family: clash-bold;
        font-size: 40px;
        color: #404A9A;
    }

    h2{
        display: flex;
        align-items: center;
        font-family: clash-reg;
        font-size: 24px;
        color: #404A9A;

        span{
            width: 50px;
            background-color: #404A9A;
            height: 2px;
            margin-right: 4px;
        }
    }

    h3{
        font-size: 32px;
        font-family: clash-semibold;
        color: #404A9A;
        margin-left: 80px;
    }

    .carousel{
        margin-top: 45px;
        width: 100vw;
    }
    
    .carousel-cell {
        width: 160px;
        height: 200px;
        margin-right: 100px;
        background: #404A9A;
        border-radius: 5px;
    }

    .valorant-teams{
        margin-top: 80px;
    }

    .rocket-teams{
        margin-top: 120px;
    }

    .tf2-teams{
        margin-top: 120px;
        margin-bottom: 150px;
    }
}

@media screen and (max-width:1024px) {
    .page-teams{
        margin-left: 60px;
        margin-right: 60px;
    }
}